<div class="container">
  <%= simple_form_for :user, url: sessions_path, method: :post do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.button :submit, "Login", class: "btn-primary" %>
  <% end %>
  <p><%= link_to 'Forgot password?', new_forgot_password_path %></p>
</div>