<div class="container">
  <div class="page-header">
    <h1><%= t(:profile) %></h1>
  </div>
  <%= simple_form_for current_user, url: user_path do |f| %>
    <%= f.input :username %>
    <%= f.input :email, disabled: true %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, t(:save_profile), class: "btn-primary" %>
  <% end %>
</div>